body{
    background-color: #d0e0e3ff;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

nav{
    background-color: #d0e0e3ff;
    margin:0;
}

header{
    /*padding: 20px;*/
    padding-bottom: 1.2em;
    height: 100px;
    font-size: 26px;
    background-color: #d0e0e3ff;
    text-align: center;
    margin: 0;
    font-family: "Roboto Mono";
}

header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 30px;
}

a:hover{
    font-weight: bold;
}

header .logo a{
    background-image: url("images/icon.jpg");
    background-size: 300px;
    width: 300px;
    height: 100px;
    display: inline-block;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 20px; 
    margin-right: auto;
}

section{
    padding: 20px;
    margin:0;
}

#article{
	font-family: Alegreya;
	align: center-left;
}

#articletitle{
	font-family: Alegreya;
}

articlepic{
	
}

.container {
  position: relative;
  text-align: center;
  font-family: Impact;
  color: white;
  font-size:40px;
 
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

footer{
    background-color: #8e7cc3ff;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    clear: both;
}

.features figures{
    margin:auto;
    width: 100px;
    background-color: pink;
    flex-direction: row;
    text-align: center;
}

.feature figures img{
    width: 200px;
    border-radius: 10px;
}

hr.topLine{
    width: 100%;
    margin-top: 15px;
    height: 10px;
    background-color: #8e7cc3ff;
    padding-left: 19px;
    margin-right: 0;
}

feature div.left{
    float: left;
}
feature div.center{
    text-align: right;
    
}

footer h1, h2, h3{
    font-family: "Roboto Mono"
}