body{
    background-color: black;
    color: white;
    font-size: 30px;
}

.column{
    float: left;
    width: 25%;
    padding: 5px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}