body#video{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Oswald';
    color: #741b47;
}

div#leftV{
   float: left;
    padding-bottom: 15em;
    padding-left: 1em;
    margin-right: 12.3rem;
    
}

div#video1{
    padding-left: 2.5em;

}

h1#topTitle{
    font-size: 30px;
    color: #741b47;
    letter-spacing: normal;
    padding-left: 1em;
}

h2#secondTitle{
    font-size: 25px;
    color: #741b47;
    letter-spacing: normal;
    padding-left: 1em;
    text-align: center;
}

div#RightV{
    float: left;
    background-color: black;
    padding-bottom: 20px;
    /* display: flex; */
    /* clear: both; */
}

hr#maindivideo{
    padding-right: 130px;
}

.container2 {
    height: 100px;
    width: 300px;
    background: rgb(236, 251, 255);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
    border-radius: 10px;
    box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .container2>div {
    text-align: center;
  }
  
  .container>div:hover {
    cursor: pointer;
  }
  
  .cleft {
    background: rgb(192, 102, 177);
  }
  
  .cright {
    background: rgb(97, 165, 255);
  }
  
  .ctext {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .option-title {
    color: rgba(255, 255, 255, 1);
  }
  
  .option-size {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
  }

  table td{
      text-align: center;
  }