body#video{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Oswald';
    color: #741b47;
}

div#rightV{
   /* float: right;*/
    width: 50%;
    padding-bottom: 5em;
}

div#video1{

}

h1#topTitle{
    font-size: 24px;
    color: #741b47;
    letter-spacing: normal;
    padding-left: 1em;
}
